doctype
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title ozitag-test
		include templates/modules/head.pug
		
	body
		.overlay
		header.header
			.container
				.header-w
					.header-menu
						ul.header-list
							li.header-list__item
								a.header-list__link(href="") Элемент 1
							li.header-list__item
								a.header-list__link(href="") Элемент 2
								ul.header-list
									li.header-list__item
										a.header-list__link(href="") Элемент 2.1
									li.header-list__item
										a.header-list__link(href="") Элемент 2.2
										ul.header-list
											li.header-list__item
												a.header-list__link(href="") Элемент 2.2.1
											li.header-list__item
												a.header-list__link(href="") Элемент 2.2.2
											li.header-list__item
												a.header-list__link(href="") Элемент 2.2.1
											li.header-list__item
												a.header-list__link(href="") Элемент 2.2.2	
									li.header-list__item
										a.header-list__link(href="") Элемент 2.3
									li.header-list__item
										a.header-list__link(href="") Элемент 2.4
										ul.header-list
											li.header-list__item
												a.header-list__link(href="") Элемент 2.4.1
											li.header-list__item
												a.header-list__link(href="") Элемент 2.4.2
											li.header-list__item
												a.header-list__link(href="") Элемент 2.4.1
											li.header-list__item
												a.header-list__link(href="") Элемент 2.4.2
									li.header-list__item
										a.header-list__link(href="") Элемент 2.5
									li.header-list__item
										a.header-list__link(href="") Элемент 2.6
							li.header-list__item
								a.header-list__link(href="") Элемент 3
							li.header-list__item
								a.header-list__link(href="") Элемент 4
								ul.header-list
									li.header-list__item
										a.header-list__link(href="") Элемент 4.1
									li.header-list__item
										a.header-list__link(href="") Элемент 4.2
							li.header-list__item
								a.header-list__link(href="") Элемент 5
							li.header-list__item
								a.header-list__link(href="") Элемент 6
					.header-burger
						.header-bar: span
		main.main
			section
				.container
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
					p Обеспечение поступления воды нужного качества в нужном количестве в здание или сооружение – одна из ключевых составляющих его эксплуатации.
		script(src="assets/js/scripts.min.js")
