.button{
	cursor: pointer;
	border-radius: 8px;
	font-size: 14px;
	line-height: 16px;
	background: $green;
	border: none;
	color: #fff;
	padding: 10px;
	font-weight: 700;
	display: inline-block;
	min-width: 80px;
	text-align: center;
	@media screen and (max-width: 576px){
		padding-top: 8px;
		padding-bottom: 8px;
	}
	&:hover{
		background: rgba($green, .2);
		color: $green;
	}
	&_icon{
		position: relative;
		padding-right: 34px;
		&:hover{
			.button__icon{
				color: $green;
			}
		}
	}
	&_disabled{
		pointer-events: none;
		background: #E2E2E2;
		color: $gray-2;
		cursor: not-allowed;
	}
	&__icon{
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-53%);
		color: #fff;
	}
}