$default-font: 'Roboto', sans-serif;
$accent: rgba(104, 180, 203, 0.61);
$gray-color: #F8F9F9;
$text: #1D2730;
$gray-text: #B5B5B5;
$gray-2: #616161;
$green: #33B63C;
$red: #FF0000;
$yellow: #F2BC00;
$red-2: #FF2400;
$draw-color: #8E9398;
$background: #F8F8FA;
$pari-color: #EDE72E;
$bet365-color: #14805E;
$bwin-color: #141414;
$to-border: calc((100% - 100vw)/2);
$trans: all .25s ease;
